/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

#wheel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

canvas {
    border: 2px solid #000;
    border-radius: 50%;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 20px;
}

#arrow {
    position: absolute;
    right: -70px; /* Adjust as needed */
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #ff0000;
    transform: translateY(-50%);
}
